[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1801: Le paramètre context de la méthode .ctor n'est jamais utilisé. Supprimez le paramètre ou utilisez-le dans le corps de la méthode.
dotnet_diagnostic.CA1801.severity = none
